@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.custom-bg{
  background: white}

html{
  font-family: "Montserrat", sans-serif;
}
p h1 h2 h3 h4 h5 h6{
  font-family: "Montserrat";
  text-align: justify;
  color: #0e0e0e;
}

.nav-item .nav-link{
    margin: 20px;
    color: white;
}

.nav-item .nav-link:hover{
    margin: 20px;
    color: rgba(153, 149, 145, 0.5);
}

.custom-navbar{
    background-color: white(16, 105, 117, 0.781);
    opacity: 0.9;
}


.hero{
    background-size: cover;
      background-position: center; 
      background-repeat: no-repeat;
      background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/b796da18954529.562d231ca116c.gif');
}

.custom-card {
    border: 2px solid black; 
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}
.social-icons {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.social-icons li {
  margin: 0 5px; /* Espacio entre los iconos */
}
.button,button::after {
    padding: 10px 50px;
    font-size: 20px;
    border: 1px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0);
    background-color: transparent;
    position: relative;
  }
  
  .button::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'Explorar';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  .button:hover::after {
    animation: glitch_4011 3s;
    text-shadow: 10 10px 10px rgba(0, 0, 0, 0.555);
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }
  
  .button:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  }
  
  .button:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  }
  
  .button1,button1::after {
    padding: 10px 50px;
    font-size: 20px;
    border: 1px;
    border-radius: 5px;
    color: rgb(7, 7, 7);
    background-color: transparent;
    position: relative;
  }
  
  .button1::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'Explorar';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  .button1:hover::after {
    animation: glitch_4011 3s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }
  
  .button1:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  }
  
  .button1:hover {
    background-color: transparent;
    border: 1px solid rgb(8, 8, 8);
    box-shadow: 0px 10px 10px -10px rgb(8, 8, 8);
  }
  
  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }
  /* Estilos para el formulario */
form{
  font-family: "Montserrat", sans-serif;
  width: 330px;
  height: auto;
  background: linear-gradient(#fffffff5, white) padding-box,
              linear-gradient(145deg, transparent 25%,#020202, #656666) border-box;
  border: 2px solid transparent;
  padding: 30px;
  background-color: transparent;
  gap: 40px;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 35%;
  margin-top: 5rem;
}
/* Estilo para los botones */
.button{
    color: black;
    background: rgba(255, 255, 255, 0);
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
    margin-right: 10px;
    font-weight: bold;
    margin-top: 15px;
}
.button:hover{
  color: black;
  transition: 0.3s;
  cursor: pointer;
  scale: 1.1;
  background: linear-gradient(90deg, transparent 0%, rgba(108, 109, 109, 0) 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
}

/* Estilos para los datos */
#nombre{
  display: flex;
  flex-direction: column;
  gap: 2px;
  color:#0e0e0e;
}
#apellidos{
  display: flex;
  gap: 2px;
  flex-direction: column;
  color: black;
}
#email{
  display: flex;
  gap: 2px;
  flex-direction: column;
}
#textarea{
  display: flex;
  gap: 2px;
  flex-direction: column;
}
.featurette-divider{
    color: black;
    size: 3px;
  }

.bi{
    color: #0e0e0e;
  }
  .tarjeta {
    box-sizing: border-box;
    width: 250px;
    height: 320px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .tarjeta {
    width: 250px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
    margin: 20px 20px 20px 20px;
   }
   
   .tarjeta:hover {
    opacity: 0.8;
    transform: scale(1.10);
   }
   
  .t1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .tarjeta img {
    width: 100%;
    height: 100%;
    display: block;
  }

  @media screen and (max-width: 600px) {

    .custom-form{

      max-width: 40px !important;
    }

  }

  footer{text-align: center;
        width: 100%;
        color: black;
        font-family: "Montserrat";
  }
  